@charset "UTF-8";
@import "compass";
@import "compass/reset";
@import "mixin";

// variable ------------------------------
$MAIN_FONT: YuGothic, '游ゴシック', "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", Helvetica, Arial, sans-serif;

// ------------------------------
.onlysp {
  display: none;
}
.hidden {
  display: none;
}

// ------------------------------
body {
  font-family: $MAIN_FONT;
}
body * {
  box-sizing: border-box;
}

// ------------------------------
.wrapper {
  min-width: 1024px;
}
