- var domain = "http://localhost"
- var share_url = domain
- var share_siteName = "template"
- var share_title = "template"
- var meta_description = "description"
- var meta_keywords = "key, words"

- var share_image = domain + "/img/ogp.png"
- var og_description = meta_description
- var tw_description = meta_description
- var tw_hashtag = "hashtag"
- var tw_site = "@hoge"
- var tw_creator = "@hoge"
- var line_description = meta_description + " " + share_url
- var fb_appid = ""
